body {
    background:rgba(225, 225, 225, 1);
    -webkit-user-select:none;
    user-select:none;
    display:flex;
    gap:1.5%;
}
* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    padding:0;
    margin:0;
    font-family: outfit;
}
.side-nav {
    width:21%;
    background:#F1F1F1;
}
.content {
    width:76%;
    display:flex;
    flex-direction: column;
    gap:30px;
}

.sn-container {
    display:flex;
    flex-direction:column;
    width:88%;
    margin-top:65px;
    margin-bottom:65px;
    margin-left:6%;
}
.menu-container {
    display:flex;
    flex-direction:column;
    margin-top:100px;
    gap:20px;
}
.btn {
    position:relative;
    cursor:pointer;
    outline:none;
    border:none;
}
.btn.menu-btn {
    text-align: left;
    padding:14px;
    color:rgba(128, 122, 117, 1);
    font-size:14px;
    border-radius:10px;
    transition:0.2s ease-in-out;
    width:100%;
}
.btn.menu-btn:is(:focus, :hover) {
    background:rgb(227, 233, 255);
    color:rgba(19, 32, 80, 1);
}
.btn.menu-btn:is(:focus, :hover) svg path {
    fill:rgba(19, 32, 80, 1);
}
.btn.menu-btn.home {
    color:rgba(19, 32, 80, 1);
    background:rgb(227, 233, 255);
}
.m-item-1 {
    display:inline-block;
}
img,svg,.m-item-1,.ad-title {
    vertical-align: middle;
}
.img.icon-2 {
    width:28px;
    height:28px;
}
svg {
    width:24px;
    height:24px;
}
svg path {
    fill:rgba(128, 122, 117, 1);
    transition:0.3s ease-in-out;
}
.home path {
    fill:rgba(19, 32, 80, 1);
}
.m-item-1.icon {
    margin-right:20px;
}
.m-item-1.icon-2 {
    position:absolute;
    right:10px;
    top:50%;
    transform:translate(0,-50%);
}
.ad {
    background: linear-gradient(180deg, #FFFFFF 17.07%, rgba(255, 255, 255, 0) 91.11%);
    margin-top:159px;
    margin-bottom:159px;
    border-radius:20px;
}
.ad-container {
    width:90%;
    margin-left:5%;
}
.ad-title {
    font-size:24px;
    color:rgba(19, 32, 80, 1);
    text-align:center;
    margin-top:20px;
    margin-bottom:14px;
}
.img.fire-img {
    width:30px;
    height:30px;
}
.ad-description {
    font-size:16px;
    color:rgba(123, 108, 141, 1);
    margin-bottom:30px;
    text-align:center;
}
.btn.ad-button {
    background:rgba(181, 217, 246, 1);
    text-align:center;
    font-size:16px;
    font-weight:500;
    color:black;
    padding:16px 0px;
    border-radius:26px;
    position:relative;
    width:100%;
}
.btn.ad-button::before {
    --border-size:2px;
    --background-color:rgba(181, 217, 246, 1);

    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:40px;

    border:var(--border-size) solid var(--background-color);
    transition:top,left,right,bottom, 0.3s ease-in-out;
}
.btn.ad-button:is(:hover, :focus)::before {
    top:calc(var(--border-size) * -3);
    left:calc(var(--border-size) * -3);
    right:calc(var(--border-size) * -3);
    bottom:calc(var(--border-size) * -3);
}

.top-nav {
    padding:10px;
    border-radius:80px;
    background:rgba(255, 255, 255, 1);
    margin-top:44px;
    width:100%;
    align-items:center;
    gap:4%;
}
.top-nav, .tp-container-1 {
    display:flex;
    flex-direction:row;
}
.tp-container-1 {
    width:48%;
}
.tp-container-1:first-child {
    gap:20px;
}
.tp-container-1:last-child {
    gap:20px;
}
.user-details {
    display:flex;
    gap:14px;
}
.username-container {
    display:flex;
    flex-direction: column;
    margin-top:6.5px;
    gap:6px;
}
.user-name {
    font-size:18px;
    color:rgba(19, 32, 80, 1);
}
.user-name.again {
    font-size:14px;
    color:rgba(19, 32, 80, 0.48);
}
.right-border {
    height:60px;
    border-right:1px solid #F6F6F6;
}
.text-date, .img.date-img {
    display:inline-block
}
.today-date {
    display:flex;
    align-items:center;
}
.date-img {
    width:24px;
    height:24px;
}
.background-date {
    background:#F6F6F6;
    border-radius:30px;
    padding:10px 14px;
    display:flex;
    gap:12px;
    align-items: center;
}
form {
    position:relative;
    width:80%;
    /* background:rgba(246, 246, 246, 1);
    border-radius:30px;
    position:relative;
    z-index:0; */
}
/* form::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(241, 250, 255);
    border-radius:30px;
    z-index:0;

    transform:scaleX(0);
    transform-origin:right;

    transition:transform 0.3s ease-in-out;
} */
.input-search {
    padding:14px;
    border-radius:30px;
    background:#0000;
    width:100%;
    height:100%;
    border:none;
    outline:none;
    background:rgba(246, 246, 246, 1);
    border-radius:30px;
    padding-left:50px;
    font-size:14px;
    color:rgba(143, 143, 143, 1);
    z-index:1;
}
.search-icon {
    position:absolute;
    left:0;
    top:50%;
    transform:translate(0,-50%);
    margin-left:14px;
}
.notification, .chat {
    padding:14px;
    background:rgba(246, 246, 246, 1);
    border-radius:50%;
}

.content-container {
    display:flex;
    flex-direction: row;
    gap:2%;
}
.chat-container, .teamproject-container {
    width:49%;
}
.chat-container {
    -webkit-user-select: auto;
    user-select:text;
    background:rgba(255, 255, 255, 1);
    border-radius:24px;
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:30px;
}
.user-2-profile {
    display:flex;
    flex-direction: column;
    align-items: center;
    background:rgba(238, 238, 238, 1);
    border-radius:16px;
    padding:40px 0 40px 0;
}
.user-2-img {
    width:120px;
    height:120px;
}
.user-2-icon {
    margin:38.5px 0 20px 0;
}
.user-2-name {
    font-size:26px;
    color:rgba(19, 32, 80, 1);
    font-weight: 500;
}
.user-2-id {
    font-size:16px;
    color:rgba(19, 32, 80, 1);
    font-weight:400;
    margin-top:8px;
    cursor:pointer;
}
.user-2-id:is(:focus, :hover) {
    text-decoration: underline 1px solid rgba(19, 32, 80, 1);
}
.user-profile-button {
    display:flex;
    gap:24px;
    margin-top:38px;
    margin-bottom:38.5px;
}
.btn.profile-btn {
    padding:7px;
    background:rgba(255, 255, 255, 1);
    border-radius:50%;

    transition:transform 0.15s ease-in-out;
}
.btn.profile-btn:is(:hover, :focus) {
    transform:translateY(-4px);
}
.user-chat-container {
    display:flex;
    flex-direction: column;
    gap:30px;
}
.chat-date {
    font-size:18px;
    font-weight:600;
    color:black;
    text-align:center;
}
.user-chat {
    gap:20px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    float:right;
}
.his-chat-container, .my-chat-container {
    padding:16px 20px 16px 20px;
    width:90%;
    border-radius:30px 30px 0px 30px;
    display:flex;
    align-items: center;
    background:rgba(230, 239, 252, 1);
    width:90%;
}
.my-chat-container {
    margin-right:10%;
    border-radius:30px 30px 30px 0px;
    background:rgba(246, 244, 252, 1);
}
.his-chat, .my-chat {
    width:94%;
    font-size:16px;
    color:rgba(19, 32, 80, 1);
    line-height: 24px;
}
.my-chat {
    float:left;
    text-align:left;
    margin-right:auto;
}
.span-chat-date {
    width:8%;
    vertical-align: middle;
    font-size:12px;
    color:rgba(123, 133, 159, 1);
    text-align:right;
}
.write-message-container {
    position:relative;
}
input.write-message {
    width:100%;
    padding:14px 84px 14px 42px;
    background:rgba(246, 246, 246, 1);
    border:none;
    outline:none;
    border-radius:30px;
    font-size:14px;
    color:rgba(143, 143, 143, 1);
}
.btn.usefull-chat-btn-collapse {
    position:absolute;
    left:14px;
    top:50%;
    transform:translate(0,-50%);
    background:#0000;
}
.usefull-chat-btn {
    background:#0000;
}
.usefull-chat-container {
    display:flex;
    flex-direction: row;
    gap:10px;
    position:absolute;
    right:14px;
    top:50%;
    transform:translate(0,-50%);
}

.team {
    background:rgba(255, 255, 255, 1);
    border-radius:24px;
    display:flex;
    flex-direction: column;
    padding:24px;
    gap:20px;
}
.team-container-1 {
    display:flex;
    flex-direction: column;
    gap:34px;
    padding-bottom:30px;
    border-bottom: 1px solid #F6F6F6;
}
.t-header-container, .t-header, .team-count {
    display:inline-block;
    vertical-align: middle;
}
.t-header {
    font-size:28px;
    font-weight:600;
    color:rgba(0, 0, 0, 1);
}
.team-count {
    display:flex;
    flex-direction: row;
    float:right;
    align-items: center;
    gap:8px;
    padding:10px 12px;
    background:rgba(238, 238, 238, 1);
    border-radius:30px;
}
.user-prof-counter {
    color:rgba(25, 66, 127, 1);
    font-size:14px;
    font-weight:500;
}
.team-container-1-2 {
    display:flex;
    flex-direction: column;
    gap:20px;
}
.team-profile-container {
    display:flex;
    flex-direction:row;
    align-items: center;
}
.team-profile {
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:14px;
}
.teammate-detail {
    display:flex;
    flex-direction: column;
    gap:8px;
}
.teammate-name {
    color:rgba(0, 7, 42, 1);
    font-size:18px;
    font-weight:600;
}
.teammate-job {
    font-size:14px;
    color:rgba(19, 32, 80, 0.48);
    font-weight:300;
}
.sendmailto-teammate-btn {
    margin-left:auto;
    padding:14px;
    background:rgba(246, 246, 246, 1);
    border-radius:50%;
}
.btn.invite-btn {
    background:#0000;
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
    border-radius:30px;
    position:relative;
}
.btn.invite-btn::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgb(235, 235, 235);
    border-radius:30px;
    z-index:0;

    transform:scaleX(0) scaleY(0.4);
    transform-origin:left;
    transition:transform 0.2s ease;
}
.btn.invite-btn:is(:hover, :focus)::before {
    transform:scaleX(1) scaleY(1);
}
.invite-text, .invite-img {
    z-index:2;
}
.invite-text {
    color:rgba(0, 0, 0, 1);
    font-size:16px;
    font-weight:500;
}

.teamproject-container {
    display:flex;
    flex-direction: column;
    gap:30px;
}
.project {
    padding:34px 24px;
    background:rgba(255, 255, 255, 1);
    border-radius:24px;
}
.m-label, .m-description {
    font-size:14px;
    color:rgba(109, 114, 137, 1);
}
.m-header {
    font-size:28px;
    color:rgba(19, 32, 80, 1);
    margin-top:18px;
    font-weight:600;
}
.m-description {
    margin-top:8px;
    margin-bottom:24px;
}
.schedule-container {
    display:flex;
    flex-direction:column;
    gap:20px;
    margin-bottom:40px;
}
.schedule {
    display:flex;
    flex-direction:row;
    align-items: center;
    padding:6px 6px 6px 12px;
    background:rgba(246, 246, 246, 1);
    border-radius:8px;
}
.s-icon-time {
    display:flex;
    flex-direction: row;
    align-items:center;
    gap:12px;
}
.sit-text, .invitation-text {
    font-size:16px;
    color:rgba(19, 32, 80, 1);
    font-weight:500;
}
.more-btn {
    margin-left:auto;
    background:#0000;
    border-radius:50%;
    padding:8px;
    
    transition:background-color 0.15s ease-in-out;
}
.more-btn:is(:hover, :focus) {
    background:rgb(227, 227, 227);
}
.attendees-header {
    font-size:24px;
    color:black;
    font-weight:600;
    margin-bottom:24px;
}
.attendees-container {
    display:flex;
    flex-direction: row;
}
.cooperators-container {
    display:flex;
    flex-direction: row;
    position:relative;
    width:50%;
    align-items:center;
}
.btn.co-op {
    background:#0000;

    transition:transform 0.2s ease-in-out;
}
.co-op:is(:focus, :hover) {
    transform:translateY(-4px);
}

.cooperator-1 {
    position:absolute;
    z-index:1;
}
.cooperator-2 {
    position:absolute;
    left:16.5%;
    z-index:2;
}
.cooperator-3 {
    position:absolute;
    left:33%;
    z-index:3;
}
.cooperator-4 {
    position:absolute;
    left:49.5%;
    z-index:4;
}
.cooperator-5 {
    position:absolute;
    left:66%;
    z-index:5;
}
.btn.co-op.cooperator-6 {
    position:absolute;
    left:83%;
    z-index:6;
    width:50px;
    height:50px;
    font-size:20px;
    color:black;
    font-weight:500;
    background:rgba(214, 238, 246, 1);
    border-radius:50%;
}
.cooperator-img {
    width:50px;
    height:50px;
}
.invitation-container {
    display:flex;
    flex-direction: row;
    margin-left:auto;
    gap:14px;
    align-items:center;
}
.invitation-btn {
    background:#0000;
}
.invitation-btn {
    background:rgba(188, 217, 246, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:50%;
    width:40px;
    height:40px;

    animation:invitation-animation 2s ease-in-out infinite;
}
@keyframes invitation-animation {
    0% {
        transform:translateY(-2px);
    }
    50% {
        transform:translateY(+2px);
    }
    100% {
        transform:translateY(-2px);
    }
}

@media screen and (max-width:1379px) {
    .user-2-icon {
        margin-top:18.5px;
    }
    .user-profile-button {
        margin-bottom:18.5px;
    }
}